<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/dist/home.css">
</head>
<body>
    <main id="cardHolder">
        <aside id="contentHolder">
            <header>
                <nav>
                    <ul>
                        <li id="logo"><h3>Save The World</h3></li>
                        <li class="active"><a>Home</a></li>
                        <li><a href="../index.html">Join</a></li>
                    </ul>
                </nav>
            </header>
            <div id="mainContent">
                <h1 id="title"><span>Save</span> the <span>World</span></br> with Us <span>!</span></h1>
                <p class="subtitle">Join our community and provide your officiant to the world environment.</p>
                <div class="points">
                    <p>Free for everyone - <mark>  "Free Forever". </mark></p>
                    <p>Get gifts for helping each other.</p>
                    <p>Help and grow the community from anywhere.</p>
                    <p>No payments methods</p>
                    <p>Zero expirence is needed.</p>
                </div>
                <button>Join the Community now</button>
            </div>
        </aside>
        <aside id="imgHolder">
            <img src="../assets/images/pictures/Trees.jpg" alt="Trees">
        </aside>
    </main>
</body>
</html>