<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/dist/join.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Save The World - Register</title>
</head>

<body>
    <main id="cardHolder">
        <aside id="contentHolder">
            <header>
                <nav>
                    <ul>
                        <li id="logo"><h3>Save The World</h3></li>
                        <li><a onclick="handleHomePage()">Home</a></li>
                        <li class="active"><a>Join</a></li>
                    </ul>
                </nav>
            </header>
            <section id="userStart">
                <p id="userStartTitle">START FOR FREE</p>
                <h1>Create new account</h1>
                <p>Already A Member? <a href="">Log in</a></p>
            </section>
            <section id="userForm">
                <form onsubmit="handleRegisterForm(event)" autocomplete="off">
                    <div class="first-last-name">
                        <div class="input-holder">
                            <label for="firstName">First name</label>
                            <span id="firstNameError"></span>
                            <input type="text" name="firstName" id="firstName">
                            <img class="userIdIcon" src="../assets/svgs/icons/id-card-svgrepo-com.svg" alt="idIcon">
                        </div>
                        <div class="input-holder userIdIcon">
                            <label for="lastName">Last name</label>
                            <span id="lastNameError"></span>
                            <input type="text" name="lastName" id="lastName">
                            <img class="userIdIcon" src="../assets/svgs/icons/id-card-svgrepo-com.svg" alt="idIcon">
                        </div>
                    </div>
                    <div class="input-holder emailIcon">
                        <label for="email">Email</label>
                        <span id="emailError"></span>
                        <input type="email" name="email" id="email">
                        <img class="emailIcon" src="../assets/svgs/icons/mail-svgrepo-com.svg" alt="emailIcon">
                    </div>
                    <div class="input-holder">
                        <label for="password">Password</label>
                        <span id="passwordError"></span>
                        <input type="password" name="password" id="password">
                        <button class="visibleEye" onclick="handleVisiblePass(event)"><img id="passwordIcon" src="../assets/svgs/icons/eye-invisible-svgrepo-com.svg" alt="visibleEye"></button>
                    </div>
                    <div class="input-holder">
                        <label for="rePassword">Repeat Password</label>
                        <span id="rePasswordError"></span>
                        <input type="password" name="repeatedPassword" id="rePassword">
                        <button class="visibleEye" onclick="handleVisibleRePass(event)"><img id="rePasswordIcon" src="../assets/svgs/icons/eye-invisible-svgrepo-com.svg" alt="visibleEye"></button>
                    </div>
                    <button id="submitRegister" type="submit">Create account</button>
                </form>
            </section>
        </aside>
        <aside id="imgHolder">
            <img src="../assets/images/pictures/Trees.jpg" alt="Trees">
        </aside>
    </main>
    <script src="../scripts/dist/join.js"></script>
</body>

</html>